[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
django = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
locust = "*"
model-bakery = "*"

[requires]
python_version = "3.12"
